<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SQL_XML_FILE_NAME" value="sql.xml"/>
		<add key="USE_TEMP_DLL" value="true"/>
		<add key="MOON_WORK_DIRECTORY_PATH" value="c:\d\a\"/>
    
    
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=.\SQLEXPRESS;Database=TestContext;uid=sa;Password=mingyue;" providerName="Moon.Orm,Moon.Orm.SqlServer" />
	</connectionStrings>
</configuration>
