<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=.;Database=MyNorthwind;uid=sa;Password=123456;" providerName="Moon.Orm,SqlServer" />
    <add name="mysql" connectionString="server=127.0.0.1;user=root;password=;database=ypzdw_busi_v3;port=3306;Charset=utf8;" providerName="Moon.Orm,Moon.Orm.MySql" />
    <add name="sqlite" connectionString="Data Source=Resource.s3db;UseUTF16Encoding=True;" providerName="Moon.Orm,Moon.Orm.Sqlite" />
    <add name="sqlite2" connectionString="Data Source=Resource.s3db;UseUTF16Encoding=True;" providerName="Moon.Orm,Moon.Orm.Sqlite" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=5.2.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
</configuration>