<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=.;Database=MyNorthwind;uid=sa;Password=123456;" providerName="Moon.Orm,SqlServer"/>
		<add name ="mysql" connectionString="server=127.0.0.1;user=root;password=root;database=edu-p;port=3306;Charset=utf8;" providerName="Moon.Orm,Moon.Orm.MySql"/>
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
