<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
	<connectionStrings>
    <add name="DefaultConnection3" connectionString="server=localhost;port=3306;user id=root;password=;database=ypzdw_busi_v3;Charset=utf8;" providerName="MySql.Data"/>
		<add name="SQLServer" connectionString="Server=QSC-E15014A6665\SQLEXPRESS;Database=TestContext;uid=sa;Password=123456;" providerName="Moon.Orm,SqlServer"/>
		<add name="DefaultConnection" connectionString="server=localhost;port=3306;user id=root;password=;database=ypzdw_busi_v3;Charset=utf8;" providerName="Moon.Orm,Moon.Orm.MySql"/>
		<add name="DefaultConnection2" connectionString="server=panguerp.db.11603681.hostedresource.com;user=panguerp;password=Panguerp1!;database=panguerp;port=3306;Charset=utf8;" providerName="Moon.Orm,Moon.Orm.MySql"/>
	</connectionStrings>
	<appSettings>
		<!--<add key="MOON_DIRECTORY_PATH" value="d:\d\c\e\"/>-->
    <add key="SHARED_INCREASE_PKSQL" value="SELECT LAST_INSERT_ID()"/>
    <add key="SHARED_INCREASE_PKSQL_POSITION" value="2"/>
	</appSettings>
	<system.data>
		 
	</system.data>
</configuration>
