<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<!--在使用GetDynamicList方法时,直接使用moontemp文件夹中,上次程序已经生成好了的dll-->
		<add key="USE_TEMP_DLL" value="true"></add>
		<add key="SHARED_INCREASE_PKSQL" value="select last_insert_rowid()"/>
		<add key="SHARED_INCREASE_PKSQL_POSITION" value="1"/>
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection3" connectionString="Data Source=Moon_Sqlite.db;UseUTF16Encoding=True;" providerName="Mono.Data.Sqlite" />
		<add name="DefaultConnection33" connectionString="Data Source=Moon_Sqlite.db;UseUTF16Encoding=True;" providerName="System.Data.SQLite" />
    <add name="DefaultConnection" connectionString="Data Source=Resource.s3db;UseUTF16Encoding=True;" providerName="Moon.Orm,Moon.Orm.Sqlite" />
  </connectionStrings>
	<runtime>
		<loadFromRemoteSources enabled="true" />
	</runtime>
</configuration>
