<?xml version="1.0"?>
<sqls>
	<sqlxml id="getdemo">
		<defaultsql>
			所有通用的查询语句,没有特别指定就使用语句
		</defaultsql>
		<sqlserver>
			<![CDATA[select* from products where ProductId<@]]>
		</sqlserver>
		<mysql>
			<![CDATA[select* from products where ProductId<@]]>
		</mysql>
		<sqlite>
			<![CDATA[select* from products where ProductId<@]]>
		</sqlite>
		<oracle>
			<![CDATA[select* from products where ProductId<@]]>
		</oracle>
		<description>查询用户名(描述信息)</description>
	</sqlxml>
</sqls>